DATABASE_URL=postgresql://user:pass@localhost:5432/muddyyork
SESSION_COOKIE_NAME=my_session
FRONTEND_ORIGIN=http://localhost:8000
NODE_ENV=development
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback
